@font-face {
    font-family:'uniqlo_font';
    src:url(../font/2c713234fa472e52489cdc6d434c983f.ttf);

}
@font-face {
    font-family:'uniqlo_font2';
    src:url(../font/5491d7c7c2f154b4c114750a0713db0a.ttf);

}